<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alex Avdeev</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="opacity: .9;">
    <div class="container-fluid">
        <i class="bi bi-laptop" id="laptop"></i>
        <a class="navbar-brand" href="#">Alex Avdeev</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" id="linkedin">
                    <a class="nav-link active" style="padding-right:2px;"
                       href="http://linkedin.com/in/alexandr-avdeev-464a38214">Linked</a>
                </li>
                <a href="http://linkedin.com/in/alexandr-avdeev-464a38214"><i class="bi bi-linkedin"
                                                                              style="font-size: 1.5rem; color: white;"></i></a>
                <li class="nav-item" id="github">
                    <a class="nav-link active" href="https://github.com/Gaijira">GitHub</a>
                </li>
                <a href="https://github.com/Gaijira"><i class="bi-github" role="img" aria-label="GitHub"
                                                        style="font-size: 1.5rem; color: white;"></i></a>
            </ul>
        </div>
    </div>
</nav>
<div id="maincard" class="card bg-transparent text-white">
    <div id="photo_div" class="photo">
    </div>
    <div class="card-img">
        <h4 class="card-title">QA Automation Engineer</h4>
        <p class="card-text">Hi, my name is <b>Alex Avdeev</b>,
        <p>I've been working in <b>IT</b> for 6+ years.
            In my career I have held the following positions:</p>
        <ul>
            <li><b>Technical support engineer</b></li>
            <li><b>System administrator</b></li>
            <li><b>QA Engineer</b></li>
            <li><b>Lead QA Engineer</b></li>
        </ul>
        <p style="text-indent:25px">For the last 2.6 years I've been working as <b>QA Engineer</b> at Customertimes
            company.
            My last position was the <b>QA Lead Engineer</b> in the locally distributed team - up to 7 Manual QA
            Engineers + 2
            Automation QA Engineers. We've developed and tested web-applications for different projects and customers
            based on Salesforce platform.</p>
        <p style="text-indent:25px">Currently after the <b>Python QA Engineer</b> courses at OTUS I'm looking for a
            position of <b>Junior QA Automation Engineer</b>.
            Mainly I'm interested in web-applications testing and familiar with following technologies and
            frameworks:</p>
        <p>
            <b>• Python 3 • Selenium Webdriver • Pytest • Selenoid • Selenium grid • Docker • SQL • JSON</b></p>
        <p>
            Also I'm continuing learning Python for web-development, html, css and other technologies and OS. </p>
        <p> If you're interested in cooperation, please find my contacts below via clickable icons.

        </p>
    </div>
</div>
<footer class="footer fixed-bottom" id="footer">
    <div class="container">
        <a href="https://t.me/I_Dementia"><i class="bi bi-telegram" id="tg"></i></a>
        <a href="https://wa.me/79099127694"><i class="bi bi-whatsapp" id="whatsup"></i></a>
        <a href="mailto:avellex@gmail.com"><i class="bi bi-envelope" id="mail"></i></a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>